
#### pintos
*/src/userprog/build
*/src/userprog/bochsrc.txt
*/src/userprog/bochsout.txt

*/src/examples/lib/user/*.d
*/src/examples/lib/*.d

*/src/examples/cat
*/src/examples/cmp
*/src/examples/cp
*/src/examples/echo
*/src/examples/halt
*/src/examples/hex-dump
*/src/examples/ls
*/src/examples/mcat
*/src/examples/mcp
*/src/examples/mkdir
*/src/examples/pwd
*/src/examples/rm
*/src/examples/shell
*/src/examples/bubsort
*/src/examples/insult
*/src/examples/lineup
*/src/examples/matmult
*/src/examples/recursor
*/src/examples/lab2test
*/src/examples/pfs_writer
*/src/examples/pfs
*/src/examples/sumargv
*/src/examples/longrun
*/src/examples/pfs_reader
*/src/examples/child
*/src/examples/parent
*/src/examples/dummy
*/src/examples/create-bad
*/src/examples/*.d

*/src/TAGS

*/src/filesys/build
*/src/filesys/bochsrc.txt
*/src/filesys/bochsout.txt

*/src/vm/build
*/src/vm/bochsrc.txt
*/src/vm/bochsout.txt

*/src/threads/build
*/src/threads/bochsrc.txt
*/src/threads/bochsout.txt

*/src/utils/setitimer-helper
*/src/utils/squish-pty
*/src/utils/squish-unix

*/src/tests/userprog/lib/user/*.d
*/src/tests/userprog/lib/*.d*.hex
