
#### pintos
userprog/build
userprog/bochsrc.txt
examples/
*/userprog/bochsout.txt

*/examples/lib/user/*.d
*/examples/lib/*.d

*/examples/cat
*/examples/cmp
*/examples/cp
*/examples/echo
*/examples/halt
*/examples/hex-dump
*/examples/ls
*/examples/mcat
*/examples/mcp
*/examples/mkdir
*/examples/pwd
*/examples/rm
*/examples/shell
*/examples/bubsort
*/examples/insult
*/examples/lineup
*/examples/matmult
*/examples/recursor
*/examples/lab2test
*/examples/pfs_writer
*/examples/pfs
*/examples/sumargv
*/examples/longrun
*/examples/pfs_reader
*/examples/child
*/examples/parent
*/examples/dummy
*/examples/create-bad
*/examples/*.d

*/TAGS

*/filesys/build
*/filesys/bochsrc.txt
*/filesys/bochsout.txt

*/vm/build
*/vm/boch.txt
*/vm/bochsout.txt

*/threads/build
*/threads/bochsrc.txt
*/threads/bochsout.txt

*/utils/setitimer-helper
*/utils/squish-pty
*/utils/squish-unix

*/tests/userprog/lib/user/*.d
*/tests/userprog/lib/*.d*.hex
